/FizzBuzz/C#_1/.vs
/FizzBuzz/C#_1/bin
/FizzBuzz/C#_1/obj
/FizzBuzz/C#_1/packages
/FizzBuzz/C#_2/.vs
/FizzBuzz/C#_2/bin
/FizzBuzz/C#_2/obj
/FizzBuzz/C#_2/packages
/FizzBuzz/C#_3/.vs
/FizzBuzz/C#_3/bin
/FizzBuzz/C#_3/obj
/FizzBuzz/C#_3/packages
/FizzBuzz/C#_4/.vs
/FizzBuzz/C#_4/bin
/FizzBuzz/C#_4/obj
/FizzBuzz/C#_4/packages
/FizzBuzz/C#_5/.vs
/FizzBuzz/C#_5/bin
/FizzBuzz/C#_5/obj
/FizzBuzz/C#_5/packages
/FizzBuzz/C#_6/.vs
/FizzBuzz/C#_6/bin
/FizzBuzz/C#_6/obj
/FizzBuzz/C#_6/packages
/FizzBuzz/Python_1/__pycache__
/FizzBuzz/Python_1/.vscode
/FizzBuzz/Python_2/__pycache__
/FizzBuzz/Python_2/.vscode
/FizzBuzz/Python_3/__pycache__
/FizzBuzz/Python_3/.vscode
/FizzBuzz/Python_4/__pycache__
/FizzBuzz/Python_4/.vscode
